body {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    background-color: black;
}
/* img {
    height: 100%;
    width: 100%;
    object-fit: contain;
} */
/* .contenedorGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

.designScreen1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;

    height: 100%;
    width: 100%;
}
.designScreen1 p{
    display: flex;
    font-weight: 900;
    background-color: black;
    font-size: 1em;

}

.designScreen1 img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40em;
    width: 70em;
    margin-top: 1em;
    object-fit: contain;
}

.designScreen2 {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 100vw;
   
}
.designScreen2 img{
height: 20em;
width: 20em;
object-fit: contain;
}

.selectyourCharacter{
    background-color: black;
    color: red;
    font-size: 2em;
    font-weight: bold;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seleccionPersonajes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: ridge;
    border-width: 0.5em;
    border-color: blue;
    object-fit: contain;
}


.kartSelected{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    opacity: 0.5;
}
