body {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    background-color: black;
}
/* img {
    height: 100%;
    width: 100%;
    object-fit: contain;
} */
/* .contenedorGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

.designScreen1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;

    height: 100%;
    width: 100%;
}
.designScreen1 p{
    display: flex;
    font-weight: 900;
    background-color: black;
    font-size: 1em;

}

.designScreen1 img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40em;
    width: 70em;
    margin-top: 1em;
    object-fit: contain;
}


.designScreen2 {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 100vw;
   
}
.designScreen2 img{
height: 20em;
width: 20em;
object-fit: contain;
}

.selectyourCharacter{
    background-color: black;
    color: red;
    font-size: 2em;
    font-weight: bold;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seleccionPersonajes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style: ridge;
    border-width: 0.5em;
    border-color: blue;
    object-fit: contain;
    padding: 1em;
}


.kartSelected{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    opacity: 0.5;
}


.designScreen3 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    height: 90vh;
    width: 90vw;
}
#coche1{
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    border-width: 0.5em;
    border-color: blue;
    margin-top: 1em;
   
}
#coche2{
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: ridge;
    border-width: 0.5em;
    border-color: blue;
    margin-top: 1em;
}

.designScreen4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;

    height: 90vh;
    width: 100vw;
}
.espacioVacio{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 0em;
}
.contadorMetros{
    background-color: black;
    color: red;
    display: flex;
    font-size: 1.5em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 0em;
}
.reiniciar{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0em;
    
}

.reiniciar p{
    color: white;
    font-weight: bolder;
    border-radius: 1em;
    border-color: red;
    border-style: solid;
    padding: 1em;
    
    font-size: 2em;

}

#botonResultado{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0em;
}

#botonResultado p{
    color: black;
    font-weight: bolder;
    border-radius: 1em;
    border-color: red;
    border-style: solid;
    padding: 1em;
    background-color: yellow;
}
.ganador{
    background-color: black;
    color: red;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}
#btnAcelerar{
    color:red;
}


